In [6]:
%run 'C:\dev\prod\metrikaHelper.py'
import pandas as pd
import psycopg2
import math
import numpy
from datetime import timedelta
from datetime import datetime
from pandas import ExcelWriter
def getVipProjectByDomain(domain):
    conn = psycopg2.connect("dbname='CRM' user='read_only' host='192.168.10.10' password='User_ro'")
    cur = conn.cursor()
    cur.execute("SELECT p.projectid, p.domain, p2.login, p2.password FROM project AS p INNER JOIN ProjectMetrikaData AS p2 ON p.UniqueId = p2.ProjectUniqueId WHERE domain=%s ORDER BY p.projectid", [domain])
    result = []
    rows = cur.fetchall()
    for row in rows:
        result.append(getVipProjectByRow(row))
    return result
def getVipProjectByRow(row):
    return {'projectid': row[0], 'domain': row[1], 'metrikalogin': row[2], 'metrikapassword': row[3]}
def getCPATargetsByProjectID(projectID):
    conn = psycopg2.connect("dbname='Cubo' user='read_only' host='192.168.10.8' password='User_ro'")
    cur = conn.cursor()
    cur.execute("SELECT targetstatus, targetid, targetname FROM metricstarget WHERE projectid=%s ORDER BY id DESC", [projectID])
    result = []
    rows = cur.fetchall()
    for row in rows:
        result.append(getCPATargetByRow(row))
    return result
def getCPATargetByRow(row):
    return {'targetstatus': row[0], 'targetid': row[1], 'targetname': row[2]}
def getDirectCallByProjectID(projectID,date1,date2):
    conn = psycopg2.connect("dbname='CuboHistory' user='read_only' host='192.168.10.32' password='User_ro'")
    cur = conn.cursor()
    cur.execute("SELECT id, duration, phonenumbera, date FROM calltrackinginfo where projectid={0} and campaign='direct' and date >= '{1}' and date <= '{2}'".format(projectID,date1,date2))
    result = []
    rows = cur.fetchall()
    for row in rows:
        result.append(getCallByRow(row))
    return result
def getCallByRow(row):
    return {'id': row[0], 'duration': row[1], 'phonenumbera': row[2], 'date':row[3]}

Получаем данные проекта

In [3]:
project = u'vtb24leasing.ru'
VipProjectInfo = getVipProjectByDomain(project)
print VipProjectInfo
metrikaCredentials = getMetrikaCredentialsByLPD({'yandexLogin':VipProjectInfo[0]['metrikalogin'],
                                                 'yandexPassword':VipProjectInfo[0]['metrikapassword'],
                                                 'domain':VipProjectInfo[0]['domain']})
print metrikaCredentials

[{'metrikalogin': 'vtb24leasing.ru@yandex.ru', 'projectid': 2410910L, 'domain': 'vtb24leasing.ru', 'metrikapassword': 'rt8lk9v6'}]
{'Token': u'288e1aec99a34ab1be4991ac7841d14c', 'counterID': [7820509]}

Получаем данные из Яндекс.Метрики

In [20]:
goalsMetrics = ','.join(['ym:s:goal'+str(target['targetid'])+'visits' for target in getCPATargetsByProjectID(VipProjectInfo[0]['projectid'])])
otherMetrics = 'ym:s:visits'
metrics = ','.join([otherMetrics,goalsMetrics])
dimensions='ym:s:dateTime'
date1 = '2016-02-15'
date2 = '2016-03-21'
token = metrikaCredentials['Token']
counterId = metrikaCredentials['counterID'][0]
params = '&'.join(['dimensions={0}'.format(dimensions),
                   'metrics={0}'.format(metrics),
                   'date1={0}'.format(date1),
                  'date2={0}'.format(date2),
                  'ids={0}'.format(counterId),
                  'oauth_token={0}'.format(token),
                  'limit=10000',
                  'offset=1',
                  "filters=ym:s:UTMMedium=='direct'"])
url = 'https://beta.api-metrika.yandex.ru/stat/v1/data.csv?'+params
print url
df = pd.read_csv(url,encoding='utf-8')
total_visits = int(df[df[u'﻿"Дата и время визита"'] == u'Итого и средние'][u'Визиты'])
current_visits = int(df[df[u'﻿"Дата и время визита"'] != u'Итого и средние'][u'Визиты'].sum())
if current_visits < total_visits:
    offset = 10001
    while current_visits < total_visits:
        params = '&'.join(['dimensions={0}'.format(dimensions),
                   'metrics={0}'.format(metrics),
                   'date1={0}'.format(date1),
                  'date2={0}'.format(date2),
                  'ids={0}'.format(counterId),
                  'oauth_token={0}'.format(token),
                  'limit=10000',
                  'offset={0}'.format(offset),
                  "filters=ym:s:UTMMedium=='direct'"])
        url = 'https://beta.api-metrika.yandex.ru/stat/v1/data.csv?'+params
        extra_df = pd.read_csv(url,encoding='utf-8')
        total_df = pd.concat([df,extra_df])
        df = total_df.reset_index(drop=True)
        current_visits = int(df[df[u'﻿"Дата и время визита"'] != u'Итого и средние'][u'Визиты'].sum())
        offset += 10000
print len(df)
if len(df) < 500:
    print 'Not enough data'
else:
    df.rename(columns={u'﻿"Дата и время визита"': 'datetime',
                        u'Визиты': 'visits'
                       }, inplace=True)
    for i in xrange(0,len(df)):
        df.loc[i,'sumCPAVisits'] = df.loc[i,[column for column in df.columns if u'Целевые визиты' in column]].sum()
    df['domain'] = VipProjectInfo[0]['domain']
    df = df[~df[u'datetime'].isin([u'Итого и средние'])]
    cpaVisitsCount = df['sumCPAVisits'].sum()
print cpaVisitsCount

https://beta.api-metrika.yandex.ru/stat/v1/data.csv?dimensions=ym:s:dateTime&metrics=ym:s:visits,ym:s:goal16516325visits,ym:s:goal16516335visits,ym:s:goal16516330visits,ym:s:goal869704visits&date1=2016-02-15&date2=2016-03-21&ids=7820509&oauth_token=288e1aec99a34ab1be4991ac7841d14c&limit=10000&offset=1&filters=ym:s:UTMMedium=='direct'
9624
72.0

In [21]:
df['datetime'] = pd.to_datetime(df['datetime'])
df['hours'] = df['datetime'].dt.hour
df['dayofweek'] = df['datetime'].dt.weekday

Пример создания сводных таблиц и запись на один Excel-лист

In [117]:
def createPivot(df,sumValue):
    return pd.pivot_table(df, values=sumValue, index=['dayofweek'], columns=['hours'], aggfunc=sum)
def divideDataframes(df2,df1):
    return pd.DataFrame(df2.values/df1.values, columns=df1.columns, index=df1.index)

In [350]:
pivotVisitsDataframe = createPivot(df,'visits')
pivotCPAVisitsDataframe = createPivot(df,'sumCPAVisits')
conversionDataframe = divideDataframes(pivotCPAVisitsDataframe,pivotVisitsDataframe)

In [125]:
writer = ExcelWriter('D:\\output1.xlsx')
pivotVisitsDataframe.to_excel(writer, sheet_name='Sheet1', startrow=0 , startcol=0)
pivotCPAVisitsDataframe.to_excel(writer, sheet_name='Sheet1', startrow=9 , startcol=0)
conversionDataframe.to_excel(writer, sheet_name='Sheet1', startrow=18 , startcol=0)
writer.save()

Пример записи в Excel со скользящим окном

In [247]:
last_date = datetime(2016, 2, 26)
numDays = 12
window_size = 7
date_list = [last_date - timedelta(days=x) for x in range(0, numDays)]
writer = ExcelWriter('D:\\output1.xlsx')
for endDate in date_list:
    startDate = endDate - timedelta(days=window_size)
    df1 = df.loc[(df['datetime'] >= startDate) & (df['datetime'] <= endDate)]
    print startDate.strftime('%Y-%m-%d'),endDate.strftime('%Y-%m-%d'),df1['visits'].sum()
    sheetName = '{0} {1}'.format(startDate.strftime('%Y-%m-%d'),endDate.strftime('%Y-%m-%d'))
    pivotVisitsDataframe = createPivot(df1,'visits')
    pivotCPAVisitsDataframe = createPivot(df1,'sumCPAVisits')
    conversionDataframe = divideDataframes(pivotCPAVisitsDataframe,pivotVisitsDataframe)
    pivotVisitsDataframe.to_excel(writer, sheet_name=sheetName, startrow=0 , startcol=0)
    pivotCPAVisitsDataframe.to_excel(writer, sheet_name=sheetName, startrow=9 , startcol=0)
    conversionDataframe.to_excel(writer, sheet_name=sheetName, startrow=18 , startcol=0)
writer.save()

2016-02-19 2016-02-26 1555.0
2016-02-18 2016-02-25 1249.0
2016-02-17 2016-02-24 1120.0
2016-02-16 2016-02-23 1068.0
2016-02-15 2016-02-22 1000.0
2016-02-14 2016-02-21 968.0
2016-02-13 2016-02-20 922.0
2016-02-12 2016-02-19 988.0
2016-02-11 2016-02-18 1064.0
2016-02-10 2016-02-17 1006.0
2016-02-09 2016-02-16 1018.0
2016-02-08 2016-02-15 1073.0

Пример применения действий к ячейкам

In [249]:
pivotVisitsDataframe.fillna(0,inplace=True)
pivotCPAVisitsDataframe.fillna(0,inplace=True)
conversionDataframe.fillna(0,inplace=True)
DecisionDataframe = pivotCPAVisitsDataframe
for i in DecisionDataframe.index:
    for j in DecisionDataframe.columns:
        if pivotVisitsDataframe.loc[i,j] > pivotVisitsDataframe.loc[i,].mean() and pivotCPAVisitsDataframe.loc[i,j] > pivotCPAVisitsDataframe.loc[i,].mean():
            DecisionDataframe.loc[i,j] = min(2.0,1+conversionDataframe.loc[i,j]/conversionDataframe.loc[0,][conversionDataframe.loc[0,] <> 0].mean())
        elif pivotVisitsDataframe.loc[i,j] > pivotVisitsDataframe.loc[i,].mean() and pivotCPAVisitsDataframe.loc[i,j] == 0:
            DecisionDataframe.loc[i,j] = pivotVisitsDataframe.loc[i,].mean()/pivotVisitsDataframe.loc[i,j]
        else:
            DecisionDataframe.loc[i,j] = 1

Функция для расчета корректировок ставок на основе z-критерия

In [22]:
def calculate_bid_adjustments_for_dateframe(df,start_date,end_date):
    hour_dayweek_dataframe = df.loc[(df['datetime'] >= start_date) & (df['datetime'] <= end_date)][['datetime','visits','sumCPAVisits','hours','dayofweek']].groupby(by=['hours','dayofweek'],as_index=False).sum()
    hour_dayweek_dataframe['conversion_rate'] = hour_dayweek_dataframe['sumCPAVisits']/hour_dayweek_dataframe['visits']
    conversion_rate_std = hour_dayweek_dataframe['conversion_rate'].std()
    total_conversion_rate = hour_dayweek_dataframe['sumCPAVisits'].sum()/hour_dayweek_dataframe['visits'].sum()
    hour_dayweek_dataframe['sqrt_visits'] = hour_dayweek_dataframe['visits'].apply(numpy.sqrt)
    hour_dayweek_dataframe['z_criteria'] = (hour_dayweek_dataframe['conversion_rate'] - total_conversion_rate)/(conversion_rate_std/hour_dayweek_dataframe['sqrt_visits'])
    maximum_z_criteria = hour_dayweek_dataframe['z_criteria'].max()
    minimum_z_criteria = hour_dayweek_dataframe['z_criteria'].min()
    delta_z_criteria = maximum_z_criteria - minimum_z_criteria
    max_bid_adjustment = 2
    min_bid_adjustment = 0.5
    adjustment_step = (max_bid_adjustment-min_bid_adjustment)/delta_z_criteria
    hour_dayweek_dataframe['bid_adjustment'] = (hour_dayweek_dataframe['z_criteria'] + abs(minimum_z_criteria))*adjustment_step + min_bid_adjustment
    hour_dayweek_dataframe['new_visits'] =  hour_dayweek_dataframe['visits']*hour_dayweek_dataframe['bid_adjustment']
    hour_dayweek_dataframe['new_cost'] = hour_dayweek_dataframe['new_visits']*hour_dayweek_dataframe['bid_adjustment']
    hour_dayweek_dataframe['new_cpa_visits'] = hour_dayweek_dataframe['conversion_rate']*hour_dayweek_dataframe['new_visits']
    return hour_dayweek_dataframe

In [300]:
aggregate_df = pd.DataFrame()
last_date = datetime(2016, 2, 26)
numDays = 12
window_size = 7
date_list = [last_date - timedelta(days=x) for x in range(0, numDays)]
for endDate in date_list:
    print startDate.strftime('%Y-%m-%d'),endDate.strftime('%Y-%m-%d')
    startDate = endDate - timedelta(days=window_size)
    df1 = calculate_bid_adjustments_for_dateframe(df,startDate,endDate)
    df1['period'] = '{0} {1}'.format(startDate.strftime('%Y-%m-%d'),endDate.strftime('%Y-%m-%d'))
    aggregate_df = pd.concat([aggregate_df,df1])

2016-02-08 2016-02-26
2016-02-19 2016-02-25
2016-02-18 2016-02-24
2016-02-17 2016-02-23
2016-02-16 2016-02-22
2016-02-15 2016-02-21
2016-02-14 2016-02-20
2016-02-13 2016-02-19
2016-02-12 2016-02-18
2016-02-11 2016-02-17
2016-02-10 2016-02-16
2016-02-09 2016-02-15

Критерий достаточности статистических данных

In [352]:
float(numpy.sum(abs(total_df['z_criteria']) > 1.96))/float(numpy.sum(abs(total_df['z_criteria']) > 0)) > 0.75

True

Моделирование с учетом критерия достаточности статистических данных

In [21]:
data_significant_criteria = 0.75
aggregate_df = pd.DataFrame()
last_date = datetime(2016, 3, 21)
numDays = 12
date_list = [last_date - timedelta(days=x) for x in range(0, numDays)]
for endDate in date_list:
    window_size = 7
    startDate = endDate - timedelta(days=window_size)
    print startDate.strftime('%Y-%m-%d'),endDate.strftime('%Y-%m-%d')
    is_enough_data = False
    i = 0
    while not is_enough_data:
        i += 1
        startDate = endDate - timedelta(days=window_size)
        df1 = calculate_bid_adjustments_for_dateframe(df,startDate,endDate)
        try:
            is_enough_data = float(numpy.sum(abs(df1['z_criteria']) > 1.96))/float(numpy.sum(abs(df1['z_criteria']) > 0)) > data_significant_criteria
        except ZeroDivisionError:
            print 'zero division error'
            break
        window_size += 1
        if i > 30:
            print 'not enough data for analysis'
            break
    df1['start_date'] = startDate.strftime('%Y-%m-%d')
    df1['end_date'] = endDate.strftime('%Y-%m-%d')
    aggregate_df = pd.concat([aggregate_df,df1])

2016-03-14 2016-03-21
2016-03-13 2016-03-20
2016-03-12 2016-03-19
2016-03-11 2016-03-18
2016-03-10 2016-03-17
2016-03-09 2016-03-16
2016-03-08 2016-03-15
2016-03-07 2016-03-14
2016-03-06 2016-03-13
2016-03-05 2016-03-12
not enough data for analysis
2016-03-04 2016-03-11
not enough data for analysis
2016-03-03 2016-03-10
not enough data for analysis

In [22]:
aggregate_df.to_excel('D:\\output3.xls')

In [386]:
total_df = calculate_bid_adjustments_for_dateframe(df,'2016-02-14','2016-03-16')

In [387]:
total_df

,hours,dayofweek,visits,sumCPAVisits,conversion_rate,sqrt_visits,z_criteria,bid_adjustment
0,0,0,8,0,0.000000,2.828427,-2.359744,0.767530
1,0,1,11,0,0.000000,3.316625,-2.767045,0.741645
2,0,5,5,0,0.000000,2.236068,-1.865541,0.798939
3,0,6,18,1,0.055556,4.242641,4.976126,1.233753
4,1,0,4,0,0.000000,2.000000,-1.668591,0.811455
5,1,1,3,0,0.000000,1.732051,-1.445042,0.825663
6,1,5,4,0,0.000000,2.000000,-1.668591,0.811455
7,1,6,4,0,0.000000,2.000000,-1.668591,0.811455
8,2,0,2,0,0.000000,1.414214,-1.179872,0.842515
9,2,5,3,0,0.000000,1.732051,-1.445042,0.825663
10,2,6,2,0,0.000000,1.414214,-1.179872,0.842515
11,3,0,2,0,0.000000,1.414214,-1.179872,0.842515
12,3,1,1,0,0.000000,1.000000,-0.834295,0.864478
13,3,5,3,0,0.000000,1.732051,-1.445042,0.825663
14,3,6,1,0,0.000000,1.000000,-0.834295,0.864478
15,4,0,1,0,0.000000,1.000000,-0.834295,0.864478
16,4,1,2,0,0.000000,1.414214,-1.179872,0.842515
17,4,5,1,0,0.000000,1.000000,-0.834295,0.864478
18,4,6,2,0,0.000000,1.414214,-1.179872,0.842515
19,5,0,1,0,0.000000,1.000000,-0.834295,0.864478
20,5,1,2,0,0.000000,1.414214,-1.179872,0.842515
21,5,5,2,0,0.000000,1.414214,-1.179872,0.842515
22,6,0,2,0,0.000000,1.414214,-1.179872,0.842515
23,6,1,2,0,0.000000,1.414214,-1.179872,0.842515
24,6,2,1,0,0.000000,1.000000,-0.834295,0.864478
25,6,6,1,0,0.000000,1.000000,-0.834295,0.864478
26,7,0,6,0,0.000000,2.449490,-2.043598,0.787622
27,7,1,9,0,0.000000,3.000000,-2.502886,0.758433
28,7,5,5,0,0.000000,2.236068,-1.865541,0.798939
29,7,6,4,0,0.000000,2.000000,-1.668591,0.811455
...,...,...,...,...,...,...,...,...
91,18,5,26,1,0.038462,5.099020,2.831437,1.097449
92,18,6,22,1,0.045455,4.690416,3.789586,1.158343
93,19,0,37,2,0.054054,6.082763,6.804398,1.349946
94,19,1,37,0,0.000000,6.082763,-5.074821,0.594977
95,19,4,18,1,0.055556,4.242641,4.976126,1.233753
96,19,5,30,0,0.000000,5.477226,-4.569624,0.627084
97,19,6,25,2,0.080000,5.000000,10.280216,1.570848
98,20,0,40,1,0.025000,6.324555,0.435986,0.945209
99,20,1,10,0,0.000000,3.162278,-2.638274,0.749828
100,20,4,19,0,0.000000,4.358899,-3.636609,0.686380
101,20,5,27,2,0.074074,5.196152,9.571022,1.525776
102,20,6,39,1,0.025641,6.244998,0.575134,0.954053
103,21,0,5,0,0.000000,2.236068,-1.865541,0.798939
104,21,1,4,0,0.000000,2.000000,-1.668591,0.811455
105,21,2,1,0,0.000000,1.000000,-0.834295,0.864478
106,21,4,20,0,0.000000,4.472136,-3.731083,0.680376
107,21,5,16,0,0.000000,4.000000,-3.337182,0.705410
108,21,6,22,0,0.000000,4.690416,-3.913192,0.668802
109,22,0,3,0,0.000000,1.732051,-1.445042,0.825663
110,22,1,3,0,0.000000,1.732051,-1.445042,0.825663
111,22,4,31,0,0.000000,5.567764,-4.645160,0.622283
112,22,5,22,0,0.000000,4.690416,-3.913192,0.668802
113,22,6,28,0,0.000000,5.291503,-4.414676,0.636931
114,23,0,1,0,0.000000,1.000000,-0.834295,0.864478
115,23,1,2,0,0.000000,1.414214,-1.179872,0.842515
116,23,2,1,0,0.000000,1.000000,-0.834295,0.864478
117,23,3,1,0,0.000000,1.000000,-0.834295,0.864478
118,23,4,13,2,0.153846,3.605551,17.032798,2.000000
119,23,5,15,0,0.000000,3.872983,-3.231212,0.712145
120,23,6,8,0,0.000000,2.828427,-2.359744,0.767530

In [388]:
float(numpy.sum(abs(total_df['z_criteria']) > 1.96))/float(numpy.sum(abs(total_df['z_criteria']) > 0))

0.49586776859504134

In [390]:
float(numpy.sum(abs(df1['z_criteria']) > 0))

0.0

In [399]:
df1

,hours,dayofweek,visits,sumCPAVisits,conversion_rate,sqrt_visits,z_criteria,bid_adjustment,start_date,end_date
0,8,2,1,0,0,1,NaN,NaN,2016-02-27,2016-03-05
1,9,3,1,0,0,1,NaN,NaN,2016-02-27,2016-03-05
2,9,4,1,0,0,1,NaN,NaN,2016-02-27,2016-03-05
3,9,5,1,0,0,1,NaN,NaN,2016-02-27,2016-03-05
4,10,2,1,0,0,1,NaN,NaN,2016-02-27,2016-03-05
5,11,5,1,0,0,1,NaN,NaN,2016-02-27,2016-03-05
6,12,4,1,0,0,1,NaN,NaN,2016-02-27,2016-03-05
7,15,0,1,0,0,1,NaN,NaN,2016-02-27,2016-03-05
8,15,3,1,0,0,1,NaN,NaN,2016-02-27,2016-03-05
9,16,3,1,0,0,1,NaN,NaN,2016-02-27,2016-03-05
10,16,6,1,0,0,1,NaN,NaN,2016-02-27,2016-03-05
11,17,0,1,0,0,1,NaN,NaN,2016-02-27,2016-03-05
12,19,4,1,0,0,1,NaN,NaN,2016-02-27,2016-03-05
13,20,5,1,0,0,1,NaN,NaN,2016-02-27,2016-03-05
14,23,2,1,0,0,1,NaN,NaN,2016-02-27,2016-03-05
15,23,3,1,0,0,1,NaN,NaN,2016-02-27,2016-03-05

In [400]:
df.loc[(df['datetime'] >= '2016-02-28') & (df['datetime'] <= '2016-03-05')]

,datetime,visits,Целевые визиты,sumCPAVisits,domain,hours,dayofweek
34654,2016-02-28 16:25:10,1,0,0,samson-pharma.ru,16,6
34655,2016-02-29 15:03:50,1,0,0,samson-pharma.ru,15,0
34656,2016-02-29 17:46:38,1,0,0,samson-pharma.ru,17,0
34657,2016-03-02 08:45:29,1,0,0,samson-pharma.ru,8,2
34658,2016-03-02 10:50:14,1,0,0,samson-pharma.ru,10,2
34659,2016-03-02 23:23:31,1,0,0,samson-pharma.ru,23,2
34660,2016-03-03 09:02:12,1,0,0,samson-pharma.ru,9,3
34661,2016-03-03 15:45:41,1,0,0,samson-pharma.ru,15,3
34662,2016-03-03 16:54:08,1,0,0,samson-pharma.ru,16,3
34663,2016-03-03 23:12:36,1,0,0,samson-pharma.ru,23,3
34664,2016-03-04 09:37:01,1,0,0,samson-pharma.ru,9,4
34665,2016-03-04 12:37:04,1,0,0,samson-pharma.ru,12,4
34666,2016-03-04 19:53:45,1,0,0,samson-pharma.ru,19,4

In [23]:
def calculate_bid_adjustments_for_dateframe(df,start_date,end_date):
    hour_dayweek_dataframe = df.loc[(df['datetime'] >= start_date) & (df['datetime'] <= end_date)][['datetime','visits','sumCPAVisits','hours','dayofweek']].groupby(by=['hours','dayofweek'],as_index=False).sum()
    hour_dayweek_dataframe['conversion_rate'] = hour_dayweek_dataframe['sumCPAVisits']/hour_dayweek_dataframe['visits']
    conversion_rate_std = hour_dayweek_dataframe['conversion_rate'].std()
    total_conversion_rate = hour_dayweek_dataframe['sumCPAVisits'].sum()/hour_dayweek_dataframe['visits'].sum()
    hour_dayweek_dataframe['sqrt_visits'] = hour_dayweek_dataframe['visits'].apply(numpy.sqrt)
    hour_dayweek_dataframe['z_criteria'] = (hour_dayweek_dataframe['conversion_rate'] - total_conversion_rate)/(conversion_rate_std/hour_dayweek_dataframe['sqrt_visits'])
    maximum_z_criteria = hour_dayweek_dataframe['z_criteria'].max()
    minimum_z_criteria = hour_dayweek_dataframe['z_criteria'].min()
    delta_z_criteria = maximum_z_criteria - minimum_z_criteria
    max_bid_adjustment = 2
    min_bid_adjustment = 0.7
    adjustment_step = (max_bid_adjustment-min_bid_adjustment)/delta_z_criteria
    hour_dayweek_dataframe['bid_adjustment'] = (hour_dayweek_dataframe['z_criteria'] + abs(minimum_z_criteria))*adjustment_step + min_bid_adjustment
    hour_dayweek_dataframe['new_visits'] =  hour_dayweek_dataframe['visits']*hour_dayweek_dataframe['bid_adjustment']
    hour_dayweek_dataframe['new_cost'] = hour_dayweek_dataframe['new_visits']*hour_dayweek_dataframe['bid_adjustment']
    hour_dayweek_dataframe['new_cpa_visits'] = hour_dayweek_dataframe['conversion_rate']*hour_dayweek_dataframe['new_visits']
    return hour_dayweek_dataframe

In [24]:
hdf = calculate_bid_adjustments_for_dateframe(df,'2016-02-15','2016-03-21')

In [25]:
print 'old visits:',hdf['visits'].sum()
print 'old cost:',hdf['visits'].sum()
print 'old cpa_visits:',hdf['sumCPAVisits'].sum()
print 'old cpa:',hdf['visits'].sum()/hdf['sumCPAVisits'].sum()
print 'old conversion rate (%):',hdf['sumCPAVisits'].sum()/hdf['visits'].sum()*100
print ' '
print 'new visits:',hdf['new_visits'].sum()
print 'new cost:',hdf['new_cost'].sum()
print 'new cpa_visits:',hdf['new_cpa_visits'].sum()
print 'new cpa:',hdf['new_cost'].sum()/hdf['new_cpa_visits'].sum()
print 'new conversion rate (%):',hdf['new_cpa_visits'].sum()/hdf['new_visits'].sum()*100

old visits: 9350.0
old cost: 9350.0
old cpa_visits: 68.0
old cpa: 137.5
old conversion rate (%): 0.727272727273

new visits: 9386.65282121
new cost: 10399.454656
new cpa_visits: 99.3642849936
new cpa: 104.659885156
new conversion rate (%): 1.05856993847

In [59]:
hdf.to_excel('D:\\timebidexp.xlsx')

In [26]:
calls_df = pd.DataFrame(getDirectCallByProjectID(2410910,'2016-02-15','2016-03-21'))
calls_df = calls_df[calls_df['duration'] > 1]

In [27]:
calls_df['date'] = pd.to_datetime(calls_df['date'])
calls_df['hours'] = calls_df['date'].dt.hour
calls_df['dayofweek'] = calls_df['date'].dt.weekday

In [18]:
calls_df.to_clipboard()

In [19]:
calls_df.drop_duplicates(subset=['phonenumbera']).to_clipboard()